.schedule {
    padding-top: 120px;
    padding-bottom: 70px;
    position: relative;
    overflow-x: hidden;
    z-index: 1;
}
.schedule__container {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 330px;
        height: 966px;
        background: url('../images/decor_left-2.png');
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 0;
        left: -300px;
    }
    &::before {
        content: '';
        position: absolute;
        width: 470px;
        height: 522px;
        background: url('../images/decor_right3.png');
        background-repeat: no-repeat;
        background-size: contain;
        z-index: -1;
        top: 0;
        right: -375px;
    }
}
.schedule__image {
    position: absolute;
    width: 316px;
    height: 593px;
    object-fit: cover;
}
.schedule__description {
    font-weight: 400;
    font-size: 18px;
    color: #333739;
    margin-bottom: 33px;
    @media (max-width: 576px) {
        span {
            display: block;
        }
    }
}
.schedule__tabs {
    width: 100%;
    margin-bottom: 24px;
}
.schedule__tab {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #D1D3D4;
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px;
    position: relative;
    transition: .4s;
    &:hover {
        border: 1px solid #149446;
    }

    p {
        margin: 0;
        text-align: center;
        font-weight: 800;
        font-size: 18px;
        line-height: 18px;
        color: #000;
        text-transform: uppercase;
        span {
            display: block;
            font-weight: 400;
            text-transform: lowercase;
        }
    }
}
.schedule__tab_active {
    border: 1px solid #149446;
    &::after {
        content: '';
        position: absolute;
        bottom: -14px;
        left: 50%;
        z-index: -1;
        width: 16px;
        height: 16px;
        background-color: #149446;
        transform: rotate(45deg) translateX(-50%);
    }
}

.icon-schedule-icon {
    left: 24px;
    position: absolute;
    color: #EDEDED;
    width: 33px;
    height: 29px;
}

.schedule__tab_active {
    color: white;
    background: #149446;
    p {
        color: #FFFFFF;
    }
}

.schedule__text {
    padding: 25px;
    font-weight: 400;
    font-size: 18px;
    color: #221E20;
    border: 1px solid #D1D3D4;
}
.schedule__subject-title {
    background: #D61F74;
    text-align: center;
    color: #FFFFFF;
}
.schedule__time {
    text-align: center;
    @media (max-width: 1200px) {
        padding-left: 5px;
        padding-right: 5px;
    }
}
.schedule__tab-content {
    display: none;
}
.schedule__tab-content_active {
    display: block;
}