.security {
    padding-top: 90px;
    padding-bottom: 107px;
    background: url('../images/decor_down.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-y: bottom;
}
.security__list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
        background: url('../images/background-security.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}
.security__title {
    margin-bottom: 60px;
}
.security__item {
    padding: 20px;
    background: #FFFFFF;
    border: 2px solid #D1D3D4;
    box-sizing: border-box;
    min-height: 240px;
    height: auto;
    // max-width: 607px;
    width: 100%;
    position: relative;
    @media (min-width: 768px) {
        padding: 40px;
    }
    .icon {
        display: block;
        max-width: 78px;
        width: 100%;
        height: 78px;
        margin: 0 auto;
        margin-bottom: 40px;
        @media (min-width: 768px) {
            max-width: 148px;
            width: 100%;
            height: 158px;
        }
        @media (min-width: 992px) {
            position: absolute;
            right: 33px;
            margin: 0;
            // margin-bottom: 0;
        }
    }

}
.security__item-content {
    width: 100%;
    @media (min-width: 992px) {
        width: 65%;
    }
}
.security__item-title {
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    text-transform: uppercase;
    color: #1C1C1B;
    margin-bottom: 44px;
}
.security__item-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1C1C1B;
}