.questionnaire {
    padding-top: 50px;
    padding-bottom: 120px;
    position: relative;
}
.decor {
    position: absolute;
    display: none;
    @media (min-width: 768px) {
        display: block;
        width: 275px;
        height: 481px;
        right: 0;
        top: 0;
        z-index: -1;    
    }
}

.questionnaire__title {
    position: relative;
    padding-left: 55px;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 36px;
        height: 36px;
        background-image: url('../images/bashneft-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.questionnaire__form {
    margin: 0 auto;
    max-width: 1039px;
    width: 100%;
    padding: 57px 12px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 142.2px #DDDFE5;
    @media(min-width: 768px) {
        padding: 57px 45px;
    }

}
.questionnaire__form-title {
    font-weight: 900;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    color: #2A2F32;
    margin-bottom: 80px;
    span {
        font-weight: 400;
    }
}
.questionnaire__form .row {
    margin-bottom: 70px;
}