@use "sass:math";

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
}

.icon-agreement-icon {
    width: math.div(31, 31) * 1em;
}
.icon-arrow-right {
    width: math.div(35, 28) * 1em;
}
.icon-arrow-up {
    width: math.div(32, 32) * 1em;
}
.icon-bashneft {
    width: math.div(121, 26) * 1em;
}
.icon-camera {
    width: math.div(20, 16) * 1em;
}
.icon-check {
    width: math.div(23, 17) * 1em;
}
.icon-envelope {
    width: math.div(22, 16) * 1em;
}
.icon-footer__logo {
    width: math.div(154, 113) * 1em;
}
.icon-form-decor {
    width: math.div(1900, 579) * 1em;
}
.icon-form-logo {
    width: math.div(519, 409) * 1em;
}
.icon-gallery-decor {
    width: math.div(241, 482) * 1em;
}
.icon-grafic {
    width: math.div(148, 158) * 1em;
}
.icon-hands {
    width: math.div(133, 138) * 1em;
}
.icon-location {
    width: math.div(26, 37) * 1em;
}
.icon-logo {
    width: math.div(222, 44) * 1em;
}
.icon-maska {
    width: math.div(135, 136) * 1em;
}
.icon-online {
    width: math.div(25, 18) * 1em;
}
.icon-phone {
    width: math.div(28, 27) * 1em;
}
.icon-phone1 {
    width: math.div(16, 16) * 1em;
}
.icon-rosneft {
    width: math.div(119, 40) * 1em;
}
.icon-schedule-icon {
    width: math.div(33, 29) * 1em;
}
.icon-temperature {
    width: math.div(89, 139) * 1em;
}
