.title
    display: block
    text-align: center

    font-weight: 500
    @include responsive-tlt(36px, 44px)
    span
        margin-top: 20px
        display: block
        font-size: 14px
        font-weight: 300