.row.align-items-sm-center.justify-content-lg-start.justify-content-sm-center.flex-sm-row.flex-column
    a.logo__link(href="/")
        +icon("logo")
    a.logo__link(href="/")
        +icon("bashneft-petrotest")
    //- a.logo__link(href="/")
    //-     +icon("bashneft")
