.row.align-items-sm-center.justify-content-lg-start.justify-content-sm-center.flex-sm-row.flex-column
    a.logo__link(href="/").mb-20.mb-md-0
        +icon("logo")
    a.logo__link(href="/").mb-20.mb-md-0
        +icon("rosneft")
    a.logo__link(href="/")
        +icon("bashneft")
