.social 
    a(href="#" title='Telefon').social__link
        +icon('phone')
    a(href="#" title='Whatsapp').social__link
        +icon('whatsapp')
    a(href="#" title='instagram').social__link
        +icon('instagram')