.header {
    position: sticky;
    top: 0;
    background-color: $white;
    z-index: 3;
    &__hamburger {
        padding: 0;
    }
}

.header__container {
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 20px;
    padding-bottom: 25px;
}

.header__title {
    font-size: 20px;
    font-weight: 300;
}
.header__nav {
    max-width: 250px;
    ul {
        @include ul-none();
        display: flex;
        font-size: 18px;
        font-weight: 300;
        li {
            a {
                text-decoration: none;
                color: $black;
                transition: .4s;
                &:hover {
                    color: $gold;
                }
            }
        }
    }
}