header.header
    .header__container.row.align-items-center.justify-content-between
        .header__logo.col
            include ../logo/logo
        h2.col.header__title.d-none.d-xl-block Willkommen bei Alena Mertins
        nav.col.header__nav.d-md-block.d-none
            ul.justify-content-between
                li 
                    a(href="price.html") Preise
                li
                    a(href="#address") Adresse
                li
                    a(href="#tel") Telefon
        .col-auto.d-md-none.header__hamburger
            include ../hamburger/hamburger
    .row.justify-content-center
        include ../mainmenu/mainmenu