.page {
    padding: 50px 10px;
    @media (min-width: 768px) {
        padding: 100px 10px;    
    }
}
.page__article {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.page__img {   
    display: block;
    padding: 0;
    height: auto;
    width: fit-content;
    margin-bottom: 50px;
    border-radius: 5%;
    overflow: hidden;
    @media (min-width: 768px) {
        max-width: 550px;
        margin-right: 40px;
    }
    img {    
        object-fit: contain;
        height: 100%;
        width: 100%;
        
    }
}
.page__info  {
    padding: 0;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    @media (min-width: 768px) {
        max-width: 550px;
    }
}
.page__article-top  {
    justify-content: center;
    margin-bottom: 40px;
    flex-direction: column;
    @media (min-width: 576px) {
        margin-bottom: 80px;
    }
    @media (min-width: 768px) {
        flex-direction: row;
    }
}
.page__article-bottom {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    @media (min-width: 576px) {
        flex-direction: row;
    }
}
.page__price {
    margin-top: auto;
}

.page__back {
    padding: 0;
    width: 100%;
    order: 2;
    margin-top: 30px;
    @media (min-width: 576px) {
        margin-top: 0;
        order: 1;
        max-width: 550px;
        margin-right: 40px;
    }
    a {
        text-decoration: none;
        max-width: 130px;
        width: 100%;
        min-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        text-transform: uppercase;
        background: $pink;
        font-weight: 500;
        font-size: 10px;
        transition: .4s;
        border: 2px solid $pink;
        margin: 0 auto;
        @media (min-width: 576px) {
            margin: 0;
        }
        &:hover {
            background: $white;
            color: $black;
        }
    }
}

.page__offer {
    padding: 0;
    width: fit-content;
    order: 1;
    @media (min-width: 576px) {
        order: 2;
        max-width: 550px;
        width: 100%;
    }
    .social {
        margin: 0 auto;
        margin-top: 20px;
        @media (min-width: 576px) {
            margin: 0;
            margin-top: 20px;
        }
    }
    .social__link {
        color: $black;
        border: 1px solid $black;
    }
}