.broadcast {
    padding-top: 50px;
    padding-bottom: 120px;
    position: relative;
    overflow: hidden;
}

.broadcast__title {
    position: relative;
    padding-left: 55px;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 36px;
        height: 36px;
        background-image: url('../images/bashneft-logo.png');
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.broadcast__container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    min-height: 538px;
    background: url('../images/broadcast.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    &::after {
        content: '';        
        @media (min-width: 992px) {
            position: absolute;
            left: -157px;
            width: 157px;
            height: 100%;
            background: url('../images/decor_left-broadcast.png');
            background-repeat: no-repeat;
            background-size: cover;    
        }
    }
    &::before {
        content: '';
        @media (min-width: 992px) {
            position: absolute;
            right: -157px;
            width: 157px;
            height: 100%;
            background: url('../images/decor_left-broadcast.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

.broadcast__decor {
    display: none;
    @media (min-width: 1400px) {
        display: block;
        z-index: 1;
    }
}