extends base/pug/base

append variables
    - var title = 'Галерея'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block astrum
    div(style="max-width: 295px;").-showcase
        .list
            .item.filter-1#bx_3218110189_3315
                .pict
                    a(href="/objects/moskvichka/")
                        img(data-src="/upload/resize_cache/iblock/50c/310_350_2/50c47560990da9ad13fdf7df84a7ae8a.jpg" alt="Москвичка" title="Москвичка" src="/upload/resize_cache/iblock/50c/310_350_2/50c47560990da9ad13fdf7df84a7ae8a.jpg").delay_object
                    .offer
                        img(src="/img/ico/percent.svg" alt="")
                        | Специальное предложение
                .icon
                    .red
                        img(src="/img/icon/showcase/rent.svg" data-tippy-content="Аренда от 12540 р/мес" alt="")
                        svg(viewBox="0 0 6 2")
                            <use xlink:href="#svg-flag-tail">
                        .green
                            img(src="/img/icon/showcase/buy.svg" data-tippy-content="Узнать стоимость" alt="")
                        svg(viewBox="0 0 6 2")
                            <use xlink:href="#svg-flag-tail">
                .desc
                    a(href="/objects/moskvichka/" tabindex="-1")
                        .name Москвичка
                        div(style="--color: #FF0000;").rail Коммунарка 
                            span.time-to
                                img(src="/img/icon/showcase/man.svg" alt="")
                                | 5 мин
                        .addt
                            img(src="/img/icon/showcase/people.svg" alt="")
                            span 6 706 жителей
                        .blockinfo
                            .blockinfo__text Площадь от
                                span 45 м2
                            .blockinfo__text Стоимость от
                                span 55 500 ₽/мес
                            .blockinfo__text Класс
                                span С+