extends base/pug/base

append variables
    - var title = 'Прямая трансляция'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block broadcast
    section.broadcast 
        +icon('gallery-decor').decor.broadcast__decor
        .container-xxl
            .breadcrumbs
                a(href="index.html").breadcrumbs__link Главная
                span.breadcrumbs__link Прямая трансляция
            h1.title.broadcast__title Прямая трансляция
            .broadcast__container 
                