extends base/pug/base

append variables
    - var title = 'Галерея'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block questionnaire 
    section.questionnaire 
        +icon('gallery-decor').decor
        .container-xxl
            .breadcrumbs
                a(href="index.html").breadcrumbs__link Главная
                span.breadcrumbs__link Отзывы
            h1.title.questionnaire__title Отзывы
            form(action="#" method="post").questionnaire__form 
                .questionnaire__form-title Анкета обратной связи по результатам проведения IV ежегодной научно-технической конференции «Исследования скважин: Целеполагание <span>→</span> Технологии <span>→</span> Эффект».
                .row
                    .form__placeholder-container.col-12.col-md
                        input(type="text" placeholder="ООО «Организаци_" required)
                        label Организация, подразделение*
                    .form__placeholder-container.col-12.col-md.mb-0
                        input(type="text" placeholder="Иванов Иван Иванович" required)
                        label ФИО*
                .row
                    .form__placeholder-container.col-12.col-md
                        input(type="email" placeholder="Например: example@yandex.ru" required)
                        label E-mail*
                    .form__placeholder-container.col-12.col-md.mb-0
                        input(type="tel" placeholder="+ 7 (___)-___-__-__" required).phone-mask--js#phone
                        label Телефон*
                .form__checkbox-container.mb-70
                    p.form__checkbox-title Участвовали ли Вы в предыдущих конференциях ООО «Башнефть-ПЕТРОТЕСТ»*
                    .row
                        label.form__checkbox.col
                            input(type='radio' name="participated" value='Да' checked)
                            span Да
                        label.form__checkbox.col
                            input(type='radio' name="participated" value='Нет')
                            span Нет
                    p.form__checkbox-description Оцените, пожалуйста, организацию проведения конференции, прошедшей 18-19 мая 2022 года. В случае Вашей оценки «неудовлетворительно» по какому-либо вопросу, дайте более детальную информацию по нему:
                .form__checkbox-container
                    p.form__checkbox-title 1. Оцените общее впечатление от прошедшей конференции:
                    .row
                        label.form__checkbox.col
                            input(type='radio' name="RateAll" value='Отлично' checked)
                            span Отлично
                        label.form__checkbox.col
                            input(type='radio' name="RateAll" value='Хорошо')
                            span Хорошо
                        label.form__checkbox.col
                            input(type='radio' name="RateAll" value='Удовлетворительно')
                            span Удовлетворительно
                        label.form__checkbox.form__checkbox_black.col
                            input(type='radio' name="RateAll" value='Неудовлетворительно')
                            span Неудовлетворительно
                .form__checkbox-container
                    p.form__checkbox-title 2. Оцените полученную информацию, опыт с точки зрения пользы для Вас в дальнейшей работе:
                    .row
                        label.form__checkbox.col
                            input(type='radio' name="RateInfo" value='Отлично')
                            span Отлично
                        label.form__checkbox.col
                            input(type='radio' name="RateInfo" value='Хорошо' checked)
                            span Хорошо
                        label.form__checkbox.col
                            input(type='radio' name="RateInfo" value='Удовлетворительно')
                            span Удовлетворительно
                        label.form__checkbox.form__checkbox_black.col
                            input(type='radio' name="RateInfo" value='Неудовлетворительно')
                            span Неудовлетворительно
                .form__checkbox-container
                    p.form__checkbox-title 3. Оцените повестку конференции:
                    .row
                        label.form__checkbox.col
                            input(type='radio' name="RateAgenda" value='Отлично')
                            span Отлично
                        label.form__checkbox.col
                            input(type='radio' name="RateAgenda" value='Хорошо')
                            span Хорошо
                        label.form__checkbox.col
                            input(type='radio' name="RateAgenda" value='Удовлетворительно' checked)
                            span Удовлетворительно
                        label.form__checkbox.form__checkbox_black.col
                            input(type='radio' name="RateAgenda" value='Неудовлетворительно')
                            span Неудовлетворительно
                .form__checkbox-container
                    p.form__checkbox-title 3.1 Соответствие докладов тематике конференции:
                    .row
                        label.form__checkbox.col
                            input(type='radio' name="conformity" value='Отлично')
                            span Отлично
                        label.form__checkbox.col
                            input(type='radio' name="conformity" value='Хорошо')
                            span Хорошо
                        label.form__checkbox.col
                            input(type='radio' name="conformity" value='Удовлетворительно')
                            span Удовлетворительно
                        label.form__checkbox.form__checkbox_black.col
                            input(type='radio' name="conformity" value='Неудовлетворительно' checked)
                            span Неудовлетворительно
                .form__checkbox-container
                    p.form__checkbox-title 3.2. Достаточность выделенного на конференции времени для обсуждения докладов (в пределах выделенного на доклад времени: непосредственно в ходе доклада, сразу после доклада, а также выделенного после нескольких докладов времени перед перерывами в ходе конференции):
                    .row
                        label.form__checkbox.col
                            input(type='radio' name="adequacy" value='Отлично' checked)
                            span Отлично
                        label.form__checkbox.col
                            input(type='radio' name="adequacy" value='Хорошо')
                            span Хорошо
                        label.form__checkbox.col
                            input(type='radio' name="adequacy" value='Удовлетворительно')
                            span Удовлетворительно
                        label.form__checkbox.form__checkbox_black.col
                            input(type='radio' name="adequacy" value='Неудовлетворительно')
                            span Неудовлетворительно
                .form__checkbox-container
                    p.form__checkbox-title 4. Оцените качество представленных на конференции докладов:
                    .row
                        label.form__checkbox.col
                            input(type='radio' name="quality" value='Отлично')
                            span Отлично
                        label.form__checkbox.col
                            input(type='radio' name="quality" value='Хорошо' checked)
                            span Хорошо
                        label.form__checkbox.col
                            input(type='radio' name="quality" value='Удовлетворительно')
                            span Удовлетворительно
                        label.form__checkbox.form__checkbox_black.col
                            input(type='radio' name="quality" value='Неудовлетворительно')
                            span Неудовлетворительно
                .form__checkbox-container
                    p.form__checkbox-title 5. Оцените экспозицию оборудования, представленную на Конференции:
                    .row
                        label.form__checkbox.col
                            input(type='radio' name="exposition" value='Отлично')
                            span Отлично
                        label.form__checkbox.col
                            input(type='radio' name="exposition" value='Хорошо')
                            span Хорошо
                        label.form__checkbox.col
                            input(type='radio' name="exposition" value='Удовлетворительно' checked)
                            span Удовлетворительно
                        label.form__checkbox.form__checkbox_black.col
                            input(type='radio' name="exposition" value='Неудовлетворительно')
                            span Неудовлетворительно
                .form__checkbox-container.mb-90
                    p.form__checkbox-title 6. Оцените уровень организации - выбранное место (конференц-зал гостиницы «Башкирия») для проведения конференции (удобство мест, слышимость докладов, хорошая видимость презентаций на экранах -  наглядность, понятность, дизайн), атмосферу мероприятия.
                    .row
                        label.form__checkbox.col
                            input(type='radio' name="level" value='Отлично')
                            span Отлично
                        label.form__checkbox.col
                            input(type='radio' name="level" value='Хорошо')
                            span Хорошо
                        label.form__checkbox.col
                            input(type='radio' name="level" value='Удовлетворительно')
                            span Удовлетворительно
                        label.form__checkbox.form__checkbox_black.col
                            input(type='radio' name="level" value='Неудовлетворительно' checked)
                            span Неудовлетворительно
                .form__placeholder-container.mb-100
                    span 7. Что запомнилось больше всего:
                    textarea(type="text" placeholder="Пожалуйста, расскажите подробнее")
                .form__placeholder-container.mb-100
                    span 8. Что не понравилось: 
                    textarea(type="text" placeholder="Пожалуйста, расскажите подробнее")
                .form__placeholder-container.mb-50
                    span 9. Что следует изменить: 
                    textarea(type="text" placeholder="Пожалуйста, расскажите подробнее")
                .form__placeholder-container.mb-50
                    span 10. Кого (представителей каких организации, или конкретных специалистов) Вы бы посоветовали пригласить в качестве докладчиков на следующую конференцию:
                    textarea(type="text" placeholder="Пожалуйста, расскажите подробнее")
                .form__placeholder-container.mb-30
                    span 11. Ваши предложения, дополнительная информация:
                    textarea(type="text" placeholder="Пожалуйста, расскажите подробнее")
                .form__agreement
                    +icon('agreement-icon')
                    | Нажимая кнопку, вы даете согласие на обработку персональных данных
                button(type='submit' data-id="openmodal").form__btn.hvr-bounce-to-right Отправить отзыв
                