extends base/pug/base

append variables
    - var title = 'Галерея'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block gallery 
    section.gallery 
        +icon('gallery-decor').decor
        .container-xxl
            .breadcrumbs
                a(href="index.html").breadcrumbs__link Главная
                span.breadcrumbs__link Галерея
            h1.title.gallery__title Галерея
            .gallery__container 
                ul.gallery__list.gap-3
                    li.gallery__item 
                        a(href="#").gallery__link
                            .gallery__photo-count 
                                +icon('camera')
                                | 15
                            figure.gallery__slide
                                img.img-fluid.gallery__img(src="./images/foto1.png" alt="Фотография")
                                figcaption.gallery__text День 1 (2022)
                    li.gallery__item 
                        a(href="#").gallery__link
                            .gallery__photo-count 
                                +icon('camera')
                                | 24
                            figure.gallery__slide
                                img.img-fluid.gallery__img(src="./images/foto2.png" alt="Фотография")
                                figcaption.gallery__text День 1 (2022)
                    li.gallery__item 
                        a(href="#").gallery__link
                            .gallery__photo-count 
                                +icon('camera')
                                | 127
                            figure.gallery__slide
                                img.img-fluid.gallery__img(src="./images/foto3.png" alt="Фотография")
                                figcaption.gallery__text День 2 (2022)
                    li.gallery__item 
                        a(href="#").gallery__link
                            .gallery__photo-count 
                                +icon('camera')
                                | 24
                            figure.gallery__slide
                                img.img-fluid.gallery__img(src="./images/foto4.png" alt="Фотография")
                                figcaption.gallery__text День 2 (2022)
                    li.gallery__item 
                        a(href="#").gallery__link
                            .gallery__photo-count 
                                +icon('camera')
                                | 188
                            figure.gallery__slide
                                img.img-fluid.gallery__img(src="./images/foto5.png" alt="Фотография")
                                figcaption.gallery__text День 2 (2022)