extends base/pug/base

append variables
    - var title = 'Главная страница сайта'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block welcome
    .welcome
        .container
            .welcome__content
                h1.welcome__title улучшить свои природные данные
                    span и сделать себе безупречные брови, ресницы и губы
                include ./components/social/social
block how 
    .how 
        .container.how__container
            .desc преимущества
            h2.how__title.title Как я создаю красоту?
            .how__content
                .how__list
                    .how__item 
                        .how__number 1
                        .how__text Инновации
                            span Нахожусь в курсе трендов, чтобы повышать свое мастерство.
                    .how__item 
                        .how__number 2
                        .how__text Уникальность
                            span Предлагаю то, что подчеркивает твои достоинства.
                    .how__item 
                        .how__number 3
                        .how__text Чистота
                            span Работаю точно и аккуратно, чтобы результат радовал глаза еще много дней.
block beautiful
    .beautiful
        .container.beautiful__container
            .desc ресницы
            h2.beautiful__title.title Красивее, чем у природы
                span Ресницы, с которыми не нужна тушь и подводка
            .beautiful__list 
                .beautiful__item.beautiful__item_a
                    h3 Наращивание ресниц
                    p Максимальная естественность или яркая выразительность? Просто скажи, какой хочешь быть, и я помогу этого достичь.
                    a(href="#") Подробнее
                .beautiful__item.beautiful__item_b
                    h3 ЛИФТИНГ РЕСНИЦ
                    p Непослушные, прямые и короткие ресницы преображаются за одну процедуру. Они визуально становятся длиннее и толще, приобретают выразительный изгиб, объем.
                    a(href="#") Подробнее
                .beautiful__item.beautiful__item_c
                    h3 МЕЖРЕСНИЧКИ
                    p Перманентный макияж придает взгляду выразительность, а ресницам — объем. С его помощью ты имеешь яркий образ каждый день и ничего не делаешь для этого сама.
                    a(href="#") Подробнее
