extends base/pug/base

append variables
    - var title = 'Главная страница сайта'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block welcome
    .welcome
        .container
            .welcome__content
                h1.welcome__title улучшить свои природные данные
                    span и сделать себе безупречные брови, ресницы и губы
                include ./components/social/social
block how 
    .how 
        .container.how__container
            .desc преимущества
            h2.how__title.title Как я создаю красоту?
            .how__content
                .how__list
                    .how__item 
                        .how__number 1
                        .how__text Инновации
                            span Нахожусь в курсе трендов, чтобы повышать свое мастерство.
                    .how__item 
                        .how__number 2
                        .how__text Уникальность
                            span Предлагаю то, что подчеркивает твои достоинства.
                    .how__item 
                        .how__number 3
                        .how__text Чистота
                            span Работаю точно и аккуратно, чтобы результат радовал глаза еще много дней.
block beautiful
    .beautiful
        .container.beautiful__container
            .desc ресницы
            h2.beautiful__title.title Красивее, чем у природы
                span Ресницы, с которыми не нужна тушь и подводка
            .list 
                .list__item.list__item_a
                    h3 Наращивание ресниц
                    p Максимальная естественность или яркая выразительность? Просто скажи, какой хочешь быть, и я помогу этого достичь.
                    a(href="#") Подробнее
                .list__item.list__item_b
                    h3 ЛИФТИНГ РЕСНИЦ
                    p Непослушные, прямые и короткие ресницы преображаются за одну процедуру. Они визуально становятся длиннее и толще, приобретают выразительный изгиб, объем.
                    a(href="#") Подробнее
                .list__item.list__item_c
                    h3 МЕЖРЕСНИЧКИ
                    p Перманентный макияж придает взгляду выразительность, а ресницам — объем. С его помощью ты имеешь яркий образ каждый день и ничего не делаешь для этого сама.
                    a(href="#") Подробнее
block brows
    .brows
        .container.brows__container
            .desc брови
            h2.brows__title.title Эстетичное оформление бровей
                span Как освежить и скорректировать овал лица
            .list.list_right
                .list__item.list__item_a
                    h3 ЛИФТИНГ БРОВЕЙ
                    p Последняя тенденция в сфере долговре-менной укладки бровей — лифтинг, соболиные брови. Это придание формы, фиксация, окрашивание и окончательная коррекция формы.
                    a(href="#") Подробнее
                .list__item.list__item_b
                    h3 МИКРОБЛЕЙДИНГ
                    p Цветовая коррекция бровей делает образ завершенным на долгое время. Рисунок волосков становится четче, ярче, без пробелов.
                    a(href="#") Подробнее
                .list__item.list__item_c
                    h3 ПУДРОВЫЕ БРОВИ
                    p Деликатная процедура для коррекции формы и цвета с длительным эффектом. Рекомендована, если есть склонность к аллергическим высыпаниям от декоративной косметики.
                    a(href="#") Подробнее
block lips
    .lips
        .container.lips__container
            .desc.desc_black губы
            h2.lips__title.title Сочные губы без помады
                span Добавь себе цвета и красоты
            .list.list_center
                .list__item
                    h3 ПЕРМАНЕНТНЫЙ МАКИЯЖ
                    p Поможет исправить асимметрию, придать яркий, наполненный вид твоим губам. 
                    a(href="#") Подробнее
block skins
    .skins
        .container.skins__container
            .desc кожа
            h2.skins__title.title Сияние кожи
                span Омолаживающие процедуры для лица
            .list 
                .list__item.list__item_a
                    h3 МИКРОНИДЛИНГ
                    p Косметическая процедура мягко стимули-рует регенерацию кожи, чтобы сделать ее свежей максимально естественным путем.
                    a(href="#") Подробнее
                .list__item.list__item_b
                    h3 ПЛАЗМЕННАЯ РУЧКА
                    p Точечное, деликатное воздействие на незначительные несовершенства кожи. Процедура рекомендована тем, кто хочет подтянуть верхнее, нижнее веко и сделать возрастные изменения кожи менее заметными без хирургического вмешательства.
                    a(href="#") Подробнее
                .list__item.list__item_c
                    h3 BIOREPEEL CI
                    p Бережная процедура биоревитализации без инъекций. Возвращает коже свежесть, тонус, ровный цвет, устраняет пигментные пятна и последствия акне.
                    a(href="#") Подробнее
block reviews
    .reviews
        .container.reviews__container
            .desc отзывы
            h2.reviews__title.title Клиенты видят соответствие<br>«цена — качество»
            .reviews__list 
                .review__item
                    .desc кожа
                    .review__item-title ПЛАЗМЕННАЯ РУЧКА
                    .review__item-desc Точечное, деликатное воздействие на незначительные несовершенства кожи. Процедура рекомендована тем, кто хочет подтянуть верхнее, нижнее веко и сделать возрастные изменения кожи менее заметными без хирургического вмешательства.Лечение Phi-Ion основано на нанесении серии мини-точек вдоль линий натяжения коже. Это вызывает немедленное сокращение и уплотнение ее волокон, ремоделирующий и омолаживаю-щий эффект. перерождаться и менять внешний вид.
                .review__item
                    .desc брови
                    .review__item-title ЛИФТИНГ БРОВЕЙ
                    .review__item-desc Точечное, деликатное воздействие на незначительные несовершенства кожи. Процедура рекомендована тем, кто хочет подтянуть верхнее, нижнее веко и сделать возрастные изменения кожи менее заметными без хирургического вмешательства.Лечение Phi-Ion основано на нанесении серии мини-точек вдоль линий натяжения коже. Это вызывает немедленное сокращение и уплотнение ее волокон, ремоделирующий и омолаживаю-щий эффект. перерождаться и менять внешний вид.
                .review__item
                    .desc брови
                    .review__item-title МИКРОБЛЕЙДИНГ
                    .review__item-desc Точечное, деликатное воздействие на незначительные несовершенства кожи. Процедура рекомендована тем, кто хочет подтянуть верхнее, нижнее веко и сделать возрастные изменения кожи менее заметными без хирургического вмешательства.Лечение Phi-Ion основано на нанесении серии мини-точек вдоль линий натяжения коже. Это вызывает немедленное сокращение и уплотнение ее волокон, ремоделирующий и омолаживаю-щий эффект. перерождаться и менять внешний вид.
block offer 
    .offer
        .container.offer__container 
            .desc оффер
            h2.offer__title.title Время любить себя
                span Все услуги красоты в одном месте
            .offer__bottom 
                .offer__item.offer__enroll
                    | записаться
                    include ./components/social/social
                .offer__item.offer__contacts#tel 
                    p Контакты
                    p тел.: 
                        a(href="tel:+79555455454") +7 955 545 54 54
                    p как нас найти:
                    p адрес, улица, дом
            .offer__map#map