extends base/pug/base

append variables
    - var title = 'Главная страница сайта'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block welcome
    .welcome.wow.animate__animated.animate__fadeIn
        .container
            .welcome__content
                h1.welcome__title Entdecken Sie Ihre Schönheit neu
                    span und genießen Sie Ihre makellosen Augenbrauen, Wimpern und Lippen
                include ./components/social/social
block how 
    .how.wow.animate__animated.animate__fadeInLeft
        .container.how__container
            .desc Vorteile
            h2.how__title.title Wie bringe ich Ihre Schönheit zum Ausdruck?
            .how__content
                .how__list
                    .how__item
                        .how__number 1
                        .how__text Innovation
                            span Ich halte mich über Trends auf dem Laufenden, um meine Fähigkeiten zu erhöhen.
                    .how__item
                        .how__number 2
                        .how__text Einzigartigkeit
                            span Ich biete das an, was Ihre Schönheit unterstreichen kann.
                    .how__item
                        .how__number 3
                        .how__text Sauberkeit
                            span Ich arbeite sorgfältig und genau, damit der Effekt noch viele Tage das Auge erfreut.
block beautiful
    .beautiful.wow.animate__animated.animate__fadeInRight
        .container.beautiful__container
            .desc Wimpern
            h2.beautiful__title.title Schöner als Ihre natürlichen Wimpern
                span Wimpern, die keine Mascara und Eyeliner brauchen
            .list 
                .list__item.list__item_a
                    h3 Wimpernverlängerung
                    p Maximale Natürlichkeit oder strahlende Ausdruckskraft? Verwirklichen Sie sich den Traum von schönen und langen Wimpern und ich helfe Ihnen dabei Ihre Wünsche zu erfüllen.
                    a(href="#") Mehr erfahren
                .list__item.list__item_b
                    h3 Wimpernlifting
                    p Widerspenstige, gerade und kurze Wimpern haben nach einer Behandlung ein besseres Erscheinungsbild. Sie werden sichtbar länger und dichter, erhalten eine ausdrucksstarke Biegung und mehr Volumen.
                    a(href="#") Mehr erfahren
                .list__item.list__item_c
                    h3 Wimpernkranzverdichtung
                    p Permanent Make-up sorgt für Ihren ausdrucksvollen Augenaufschlag und mehr Volumen für Ihre Wimpern. Mit seiner Hilfe haben Sie jeden Tag einen strahlenden Look, ohne dass Sie etwas dafür tun.
                    a(href="#") Mehr erfahren
block brows
    .brows.wow.animate__animated.animate__fadeIn
        .container.brows__container
            .desc Augenbrauen
            h2.brows__title.title Ästhetische Augenbrauenstyling
                span Wie kann man die Gesichtsform auffrischen und korrigieren
            .list.list_right
                .list__item.list__item_a
                    h3 Augenbrauen-Lifting
                    p Der neueste Trend im Bereich Langzeit-Augenbrauenstyling sind Lifting und Zobelaugenbrauen. Das ist Formen, Fixieren, Färben und endgültige Formkorrektur.
                    a(href="#") Mehr erfahren
                .list__item.list__item_b
                    h3 Microblading
                    p Die Farbkorrektur der Augenbrauen vervollständigt ihren Look für eine lange Zeit. Die Augenbrauenhärchen wirken klarer, natürlich und lückenlos.
                    a(href="#") Mehr erfahren
                .list__item.list__item_c
                    h3 Powder brows
                    p Eine delikate Behandlung zur Korrektur von Form und Farbe mit langfristiger Wirkung. Behandlung ist besonders empfehlenswert bei Neigung zu allergischen Hautausschlägen durch dekorative Kosmetik.
                    a(href="#") Mehr erfahren
block lips
    .lips.wow.animate__animated.animate__fadeInLeft
        .container.lips__container
            .desc.desc_black Lippen
            h2.lips__title.title Volle Lippen ohne Lippenstift
                span Gönnen Sie sich mehr Farbe und Schönheit hinzu
            .list.list_center
                .list__item
                    h3 Permanent Make-up 
                    p Es hilft bei Asymmetrie-Korrektur und lässt Ihre Lippen strahlend und voll aussehen.
                    a(href="#") Mehr erfahren
block skins
    .skins.wow.animate__animated.animate__fadeIn
        .container.skins__container
            .desc Haut
            h2.skins__title.title Hautglanz
                span Anti-Aging Gesichtsbehandlungen
            .list 
                .list__item.list__item_a
                    h3 Mikroneedling
                    p Die kosmetische Behandlung regt die Hautregeneration sanft an, um sie auf natürlichste Weise zu erfrischen.
                    a(href="#") Mehr erfahren

                .list__item.list__item_b
                    h3 Plasma Pen
                    p Gezielte und delikate Behandlungsverfahren gegen  Hautunebenheiten . Die Behandlung lässt sich für diejenigen empfehlen, die z.B. die Ober- und Unterlider und weitere altersbedingte Hautveränderungen ohne chirurgischen Eingriff straffen möchten.
                    a(href="#") Mehr erfahren

                .list__item.list__item_c
                    h3 BioRePeel CI3
                    p Delikate Biorevitalisierungsbehandlung ohne Injektionen. Sie stellt Frische, Spannkraft und gleichmäßige Farbe der Haut wieder her, beseitigt Altersflecken und die Auswirkungen von Akne.
                    a(href="#") Mehr erfahren

block reviews
    .reviews.wow.animate__animated.animate__fadeIn
        .container.reviews__container
            .desc Feedbacks
            h2.reviews__title.title Die Kunden sehen die <br>entsprechende QualitätBehandlung - Feedback
            .reviews__list 
                .review__item
                    .desc кожа
                    .review__item-title ПЛАЗМЕННАЯ РУЧКА
                    .review__item-desc Точечное, деликатное воздействие на незначительные несовершенства кожи. Процедура рекомендована тем, кто хочет подтянуть верхнее, нижнее веко и сделать возрастные изменения кожи менее заметными без хирургического вмешательства.Лечение Phi-Ion основано на нанесении серии мини-точек вдоль линий натяжения коже. Это вызывает немедленное сокращение и уплотнение ее волокон, ремоделирующий и омолаживаю-щий эффект. перерождаться и менять внешний вид.
                .review__item
                    .desc брови
                    .review__item-title ЛИФТИНГ БРОВЕЙ
                    .review__item-desc Точечное, деликатное воздействие на незначительные несовершенства кожи. Процедура рекомендована тем, кто хочет подтянуть верхнее, нижнее веко и сделать возрастные изменения кожи менее заметными без хирургического вмешательства.Лечение Phi-Ion основано на нанесении серии мини-точек вдоль линий натяжения коже. Это вызывает немедленное сокращение и уплотнение ее волокон, ремоделирующий и омолаживаю-щий эффект. перерождаться и менять внешний вид.
                .review__item
                    .desc брови
                    .review__item-title МИКРОБЛЕЙДИНГ
                    .review__item-desc Точечное, деликатное воздействие на незначительные несовершенства кожи. Процедура рекомендована тем, кто хочет подтянуть верхнее, нижнее веко и сделать возрастные изменения кожи менее заметными без хирургического вмешательства.Лечение Phi-Ion основано на нанесении серии мини-точек вдоль линий натяжения коже. Это вызывает немедленное сокращение и уплотнение ее волокон, ремоделирующий и омолаживаю-щий эффект. перерождаться и менять внешний вид.
block offer 
    .offer.wow.animate__animated.animate__fadeInLeft
        .container.offer__container 
            .desc Angebot
            h2.offer__title.title Es ist Zeit, sich selbst zu lieben
                span Alle Beauty-Dienstleistungen aus einer Hand.
            .offer__bottom 
                .offer__item.offer__enroll
                    | Standort
                    include ./components/social/social
                .offer__item.offer__contacts#tel 
                    p Kontakte
                    p тел.: 
                        a(href="tel:+79555455454") +7 955 545 54 54
                    p как нас найти:
                    p адрес, улица, дом
            .offer__map#map