extends base/pug/base

append variables
    - var title = 'Главная страница сайта'
    - var pageClass = 'homepage'
    - var menuHref = '/'

block price 
    .price 
        .container
            .desc Preisliste_neu
            ul.price__list
                li.price__item.hvr-sweep-to-right Wimpernverlängerung
                    ul 
                        li 
                            .row 
                                .col-4 Look 
                                .col Neuset
                                .col Auffüllen in 2&nbsp;Wochen
                                .col Auffüllen in 3&nbsp;Wochen
                                .col Auffüllen in 4&nbsp;Wochen
                            .row.price_bg  
                                .col-4 1:1 Einzeltechnik
                                .col 75 €
                                .col 30 €
                                .col 40 €
                                .col 50 €
                            .row 
                                .col-4 1,5D Mischtechnik
                                .col 85 €
                                .col 35 €
                                .col 50 €
                                .col 60 €
                            .row.price_bg  
                                .col-4 2–3D Volumentechnik
                                .col 99 €
                                .col 45 €
                                .col 60 €
                                .col 70 €
                            .row 
                                .col-4 Kim Kardashian (3D)
                                .col 115 €
                                .col 50 €
                                .col 65 €
                                .col 75 €
                            .row.price_bg  
                                .col-4 Kim Kardashian (3D)
                                .col 125 €
                                .col 55 €
                                .col 70 €
                                .col 85 €
                li.price__item.hvr-sweep-to-right Phi Brows-Microblading
                    ul 
                        li
                            .row.price_bg  
                                .col Erstbehandlung + 1x Nachbehandlung inkl.
                                .col-2 299 €
                            .row 
                                .col Jede weitere Nachbehandlung (nach 4–6 Wochen)
                                .col-2 80 €
                            .row.price_bg  
                                .col Microblading Auffrischung (nach 12–18 Monaten)
                                .col-2 180 €
                li.price__item.hvr-sweep-to-right Philings – Microneedling
                    ul 
                        li
                            .row 
                                .col Gesicht<br>(inkl. Reinigung, Wirkstoffampulle, Hydraboostmaske und Homecare Set für 5 Tage)
                                .col-2 110 €
                            .row 
                                .col Aufpreis Hals / Dekollete
                                .col-2 +25 €
                            .row.price_bg
                                .col Microneedling Sparpakete
                            .row
                                .col 3x Gesicht
                                .col-2 300 €
                            .row
                                .col 3x Aufpreis Hals / Dekollete
                                .col-2 60 €
                            .row.price_bg 
                                .col Microneedling &amp; Aquafacial Kombipaket
                            .row
                                .col Gesicht<br>(inkl. Hydraboostmaske und Homecare Set für 5 Tage) 
                                .col-2 135 €
                            .row
                                .col Weitere Körperregionen auf Anfrage
                                .col-2
                li.price__item.hvr-sweep-to-right Plasma Pen
                    ul 
                        li
                            .row.price_bg  
                                .col Oberlidstraffung
                                .col-2 230 €
                            .row 
                                .col Unterlidstraffung
                                .col-2 150 €
                            .row.price_bg  
                                .col Zornesfalte
                                .col-2 99 €
                            .row 
                                .col Krähenfüße
                                .col-2 120 €
                li.price__item.hvr-sweep-to-right Lifting
                    ul 
                        li
                            .row.price_bg  
                                .col Wimpern inkl. Färben + Keratin
                                .col-2 50 €
                            .row 
                                .col Augenbrauen inkl. Färben, Stylen und Pﬂege
                                .col-2 50 €
                            .row.price_bg  
                                .col Wimpern &amp; Augenbrauen inkl. Färben
                                .col-2 90 €
                li.price__item.hvr-sweep-to-right Augenbrauen Färben
                    ul 
                        li
                            .row.price_bg  
                                .col Stylen &amp; färben
                                .col-2 20 €
                li.price__item.hvr-sweep-to-right Permanent Make Up
                    ul 
                        li
                            .row.price_bg  
                                .col Powder Brows
                                .col-2 300 €
                            .row 
                                .col Aquarell Lips
                                .col-2 400 €
                            .row.price_bg  
                                .col Wimpernkranzverdichtung
                                .col-2 180 €
                            .row
                                .col Eyeliner
                                .col-2 220 €
                            .row
                                .col In alle Permanent Make Up Behandlungen ist eine Nachbehandlung inklusive.
                li.price__item.hvr-sweep-to-right BioRePeelCI3
                    ul 
                        li
                            .row 
                                .col Gesicht
                                .col-2 69 €
                            .row 
                                .col Dekolleté / Hals
                                .col-2 60 €
                            .row.price_bg
                                .col BioRePeelCI3 Sparpakete
                            .row
                                .col 3x Gesicht
                                .col-2 192 €
                            .row
                                .col 3x Dekolleté / Hals
                                .col-2 165 €
                            .row.price_bg 
                                .col BioRePeelCI3 &amp; Microneedling Kombipakete
                            .row
                                .col Gesicht
                                .col-2 125 €
                            .row
                                .col Dekolleté/ Hals
                                .col-2 99 €
                            .row
                                .col Weitere Körperregionen auf Anfrage.
                                .col-2